body {
  margin: 0 auto;
}

.icons {
  font-size: 10px;
}

.displayinfo {
  text-align: left;
  width: 220px;
  height: 230px;
  font-size: 12px;
  display: flex;
  vertical-align: top;
  padding: 5px;
  margin: 5px;
}

.titles {
  font-weight: bold;
}

#callbutton {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
  margin: 0 auto;
}

.infowrap {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  margin-left: 30vw;
}

.map {
  position: fixed;
  top: 40px;
}

.topnav {
  justify-content: space-between;
  height: 40px;
  padding-bottom: 5px;
  padding-top: 0px;
}

.list {
  position: absolute;
  z-index: -1;
  top: 350px;
  margin-bottom: 65px;
  width: 100vw;
}

.title {
  background-color: #fff;
  justify-content: space-around;
}

.card-body {
  padding: 10px;
}

.card-title {
  height: 40px;
  margin-bottom: 0;
  font-size: 14px;
}

.card-body {
  width: 100%;
}

.card-title {
  font-size: 12px;
}

.hidden {
  color: #f8f9fa;
}

#shelterpic {
  height: 150px;
  width: 200px;
}

#streetView {
  height: 200px;
  width: 300px;
}

.streetpic {
  margin: 0 auto;
  text-align: center;
}

#searchstuff {
  border: 0px solid black;
  width: 70vw;
  margin: 0 auto;
  text-align: left;
}

.searchbar {
  width: 70vw;
  border: 1px solid black;
  border-radius: 10px;
}

.mission {
  font-style: italic;
  text-align: left;
}
 

@media only screen and (max-width: 600px) {
  .displayinfo {
    text-align: left;
    width: 140px;
    height: 130px;
    display: flex;
    vertical-align: top;
    padding: 5px;
    margin: 10px;
    font-size: 10px;
  }

  #hours {
    font-size: 8px;
    line-height: 0.5px;
  }

  #shelterpic {
    height: 140px;
    width: 140px;
  }

  .infowrap {
    max-width: 90vw;
    margin: 0 auto;
    position: relative;
    margin-left: 10vw;
  }
}